@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Momo Trust Display";
}

body {
  background: #2e2e2e;
  margin: 0;
  overflow-x: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.8);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.8);
}